.login-header{
    margin: 60px 0px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
}
.login-header__titile{
    margin: 7px 0px;
    font-size: 50px;
}
.login-header__welcome-text{
    padding-top: 10px;
    font-size: 14px;
    opacity: 0.6;
}

.login-form {
    display: flex;
    align-items: center;
    margin: 0px 90px;
    display: flex;
    flex-direction: column;
}

.login-form input {
    color: var(--rwhite);
    margin-bottom: 25px;
    font-size: 18px;
    background-color: rgba(19, 19, 19, 0.2);
    border: none;
}

.login-form input:not([type="submit"]){
    width: 95%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    transition: border-color 300ms ease-in-out;
}


.login-form input ::placeholder {
    color: rgba(19, 19, 19, 0.4);
}

.login-form input:focus {
    color: var(--rwhite);
    border-color: var(--rwhite);
}

.login-form input[type="submit"] {
    margin-top: 18px;
    width: 70%;
    border-radius: 30px;
    font-size: 24px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    color: var(--rblack);
}

.login-form input[type="submit"]:hover {
    background: var(--lwhite);
}

.login-form__service {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.other-accounts {
    display: flex;
    justify-content: center;
}

.other-accounts__main{
    width: 50%;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    align-items: center;
    margin: 120px 90px;
    margin-bottom: 0px;
    padding-top: 45px;
    display: flex;
    flex-direction: column;
}

.other-accounts span {
    margin: 11px;
}

.login-form a {
   margin: 0px 5px;
    text-decoration: none;
    font-size: 12px;
}

.login-form__service :nth-of-type(1) {
    font-size: 17px;
    color: rgb(10, 80, 255);
}

.decrease-margin div {
    margin: 80px 90px;
    margin-bottom: 0px;
}